{% load fun %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>PY Forum</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #user
        {
            text-align: right;
            size: 150px;
        }
        #photos{
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <h1>Bienvenue sur Py Forum</h1>
    </div>

    
    <p>{% if user == "" %}
        <a href="{% url 'login' %}">se connecter</a>
        <a href="{% url 'signup' %}">s'inscrire</a>
        <h1 id="user"></h1>
    {% endif %}

       
    <div class="row">
        
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="{% static 'home/forum_logo.jpeg' %}">
            <div class="card-body">
                <h1 class="card-title">Forum</h1>
                <p class="card-text">allez sur le forum pour discuter de divers chose et bien rigolé!!!</p>
                <a class="btn btn-primary" href="http://127.0.0.1:8000/forum/">forum</a>
            </div>
            
        </div>
        
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="{% static 'home/blog_logo.png' %}">
            <div class="card-body">
                <h1 class="card-title">Blog</h1>
                <p class="card-text">allez voir et crée des blog puis les commentez</p>
                <a class="btn btn-primary" href="http://127.0.0.1:8000/blog/">blog</a>
            </div>
        </div>
        {% if user != "" %}

        <div class="card" style="width: 16rem">
            <img class="card-img-top" src="{% static 'home/messenger_logo.png' %}">
            <div class="card-body">
                <h1 class="card-title">Messenger</h1>
                <p class="card-body">envoyez des messages les un les autres</p>
                <a class="btn btn-primary" href="http://127.0.0.1:8000/messenger/">Messenger</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="{% static 'home/deconnect_logo.png' %}">
            <div class="card-body">
                <h1 class="card-title">En Revoir</h1>
                <p class="card-text">en revoir nous sommes triste que tu te deconnecte</p>
                <a class="btn btn-primary" href="{% url 'deconecte' %}">deconnecter</a>
            </div>
        </div>
        <div class="card" style="width: 16 rem;">
            <img class="card-img-top" src="{{obj.img_profil.url}}">
            <div class="card-header">
                <h1 id="user"><em><i>{{user}}</i></em></h1>
            </div>
            <div class="card-body">
                <h5 class="card-title">Profil</h5>
                <p class="card-text">allez voir votre profil</p>
                <a class="btn btn-primary" href="{% url 'profil' obj.id_name %}">profil</a>
            </div>
        </div>
        {% else %}
        <div class="card" style="width: 16 rem;">
            <img class="card-img-top" src="{% static 'home/login_logo.png' %}" width="100" height="300">
            <div class="card-body">
                <h1 class="card-title">Se connecter</h1>
                <p class="card-body">connectez vous pour être  parmis nous !!<br/>ca va être super chouette !!</p>
                <a class="btn btn-primary" href="{% url 'login' %}">se connecter</a>
                
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'home/signup_logo.jpeg' %}">
            <div class="card-body">
                <h1 class="card-title">Inscrivez-vous</h1>
                <p class="card-text">Inscrivez-vous pour participer à notre site,<br/> et pour vous amuzez</p>
                <a class="btn btn-primary" href="{% url 'signup' %}">Inscrivez-vous</a>
            </div>
        </div>
        {% endif %}
        {% block login %}{% endblock %}
        {% block signup %}{% endblock %}
    </div>
</body>
</html>