

{% block login %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>

    

    <!-- Bootstrap core CSS -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'home/signin.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form   method="post">

    <h1 class="h3 mb-3 fw-normal">Please log in to access at {{app}}</h1>


    <div class="form-floating">
        {% if name_err.name %}
        <label for="floatingText">Name</label>
        <input type="text" name="name" class="form-control is-{{name_err.name.err}}" id="floatingText" placeholder="name" value="{{value_name}}">
        <div class="{{name_err.name.err}}-feedback">
          {{name_err.name.mess}}
        </div>
        {% else %}
        <label for="floatingText">Name</label>
        <input type="text" name="name" class="form-control" id="floatingText" placeholder="name" value="{{value_name}}">

        {% endif %}
    </div>
    <div class="form-floating">
      {% if name_err.pass1 %}
      <label for="floatingPassword">Password</label>
      <input type="password" class="form-control is-{{name_err.pass1.err}}" id="floatingPassword" placeholder="Password" name="pass1" value="{{value_pass1}}">
      <div class="{{name_err.pass1.err}}-feedback">
        {{name_err.pass1.mess}}
      </div>
      {% else %}
      <label for="floatingPassword">Password</label>
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="pass1" value="{{value_pass1}}">
      {% endif %}
    </div>

    <input class="w-100 btn btn-lg btn-primary" type="submit" value="Log in"/>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a  class="btn  btn-outline-primary btn-lg " href="{% url 'signup' %}">sign up </a>
        <a href="{% url 'home' %}"class="btn  btn-outline-primary btn-lg">home</a>
    </div>
    
  </form>
</main>

<br><br><br>
    
  </body>
</html>

{% endblock %}
