{% load MyFun %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>profil</title>
    </head>
    <body>
        <nav class="navbar navbar-expand bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

            <a class="navbar-brand" href="http://127.0.0.1:8000/home/">home</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/blog/">blog</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/forum/">forum</a>
            {% if not err %}
            <a class="navbar-brand" href="http://127.0.0.1:8000/todolist/">todo list</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/messenger/">messenger</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/home/deconecte">deconecter</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/home/profil/{{idname}}/">profil</a>
            {% endif %}
        </div>

        {% if not  err %}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <img src="{{obj.img_profil.url}}" height="75" width="75">
                </li>
                <li class="nav-item">
                    <a href="http://127.0.0.1:8000/home/profil/{{idname}}" class="nav-link">{{object_.username}}</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>
    
        <p style="text-align: center;"><img src="{{obj.img_profil.url}}" width="200" height="200"></p>
        <p style="text-align: center;" >{{obj.user.username}} </p>
        {% if obj.comment %}
        <p style="text-align: center;">commentaire : {{obj.comment}}</p>
        {% endif %}
        {% if not co %}
        <a class="btn btn-primary" href="http://127.0.0.1:8000/home/add_amie/{{idname}}" style="text-align: right;">ajouter comme un amie</a>
        {% endif %}


        {% if not err %}
        <form action="{% url 'profil'  idname %}"  enctype="multipart/form-data" method="post">
            <label for="img_profil">image: </label>{{image_input.image}}
            <label for="comment">commentaire : </label>{{image_input.comment}}
            <input type="submit">
        </form>
        {% endif %}
        

        {% if co %}
        liste d'amie:
        {% for i in list_amie %}
        <div class="card " style="width: 18rem">
            <img src="{{i.profil.img_profil.url}}" class="card-img-top" width="100">
            <div class="card-body">
                <h1 class="card-title"><a href="http://127.0.0.1:8000/home/profil/{{i.profil.id_name}}" >{{i.username}}</a></h1>
                <p class="card-text">email : {{i.email}} <br/>commentaire: {{i.profil.comment}}</p>
            </div>
        </div>
        {% empty %}
        vous avez pas d'amie
        {% endfor %}
        {% endif %}

        <a href="{% url 'home' %}">home</a>
    </body>
</html>