{% load MyFun %}
{% load static %}
{% load tailwind_filters %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <title>profil</title>
        <script src="https://unpkg.com/vue@next"></script> 
    </head>
    <body>
        
        <article  id="app">
          <!-- Profile header -->
          <div>
            <div>
              <img class="h-32 w-full object-cover lg:h-48" src="{% static 'home/foret.jpeg' %}" alt="">
            </div>
            <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
                <div class="flex">
                 
                  <img src="{{obj.img_profil.url}}" class="h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32">
                </div>
                <div class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
                  <div class="sm:hidden 2xl:block mt-6 min-w-0 flex-1">
                    <h1 class="text-2xl font-bold text-gray-900 truncate">
                      {{obj.user.username}}
                    </h1>
                  </div>
                  
                </div>
              </div>
              <div class="hidden sm:block 2xl:hidden mt-6 min-w-0 flex-1">
                <h1 class="text-2xl font-bold text-gray-900 truncate">
                  {{obj.user.username}}
                </h1>
              </div>
            </div>
          </div>

          <!-- Tabs -->
        
          {% if co %}
          <div class="mt-6 sm:mt-2 2xl:mt-5 mb-5">
            <div class="border-b border-gray-200">
              <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
                <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                  <!-- Current: "border-pink-500 text-gray-900", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                  <a href="#" class="  whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" :class="{'border-pink-500 text-gray-900':tab_home, 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300':! tab_home}"  @click="tab_home=true;tab_mess=false;tab_amie=false">
                    Profile
                  </a>

                  <a href="#" class=" whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" :class="{'border-pink-500 text-gray-900':tab_amie, 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300':! tab_amie}" @click="tab_home=false;tab_mess=false;tab_amie=true">
                    Amie
                  </a>

                  <a href="#" class=" whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" :class="{'border-pink-500 text-gray-900':tab_mess, 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300':! tab_mess}" @click="tab_home=false;tab_mess=true;tab_amie=false">
                    Message
                  </a>
                </nav>
              </div>
            </div>
          </div>
          {% endif %}

          <!-- Description list -->
         <div v-show="tab_home">
         {% if not co %}
          <div class="mt-6 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 ">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Phone
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{obj.user.profil.phone}}
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Email
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{obj.user.email}}
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Title
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{obj.user.profil.title}}
                </dd>
              </div>

              

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Location
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{obj.user.profil.location}}
                </dd>
              </div>

            

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Salary
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{obj.user.profil.salary}}
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Birthday
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{obj.user.profil.birthdays}}
                </dd>
              </div>

              <div class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  About
                </dt>
                <dd class="mt-1 max-w-prose text-sm text-gray-900 space-y-5">
                  {{obj.user.profil.comment}}
                </dd>
              </div>
            </dl>
          </div>
    
    
        
          {% else %}
          <form action="#"  enctype="multipart/form-data" method="POST">
          {{form|crispy}}
          <button type="submit" class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          save
          </button>
          </form>
          {% endif %}
        </div>
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="flex m-5" v-show="tab_amie">
        {% for i in list_amie %}
        <div class="bg-white shadow overflow-hidden sm:rounded-lg " >
          <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              <img class="inline-block h-14 w-14 rounded-full" src="{{i.profil.img_profil.url}}" alt="{{i.username}}">
                {{i.username}}
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              née le {{i.profil.birthdays}}
            </p>
          </div>
          <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
              <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  title
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{i.profil.title}}
                </dd>
              </div>
              <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  location
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{i.profil.location}}
                </dd>
              </div>
              <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Email address
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{i.email}}
                </dd>
              </div>
              <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Salary expectation
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{i.profil.salary}}
                </dd>
              </div>
              <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  About
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{i.profil.comment}}
                </dd>
              </div>
              
            </dl>
          </div>
        </div>
        {% endfor %}
        </div>
        <div v-show="tab_mess">
          <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          author
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          subject
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Email
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Title
                        </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Odd row -->
                      {% for p in list_mess %}
                      <tr class="bg-white">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                          {{p.0.author}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                          {{p.0.sujet}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                          {{p.1.email}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                          {{p.1.profil.title}}
                        </td>
                        
                      </tr>
          
                      <!-- Even row -->
                      {% endfor %}
          
                      <!-- More people... -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        </article>
        <script src="{% static 'home/js/profil.js' %}"></script>
        <a href="{% url 'home' %}">home</a>
    </body>
</html>