forum/migrations/__pycache__
ApiJson/__pycache__
ApiJson/migrations/__pycache__
libphoto/__pycache__
libphoto/migrations/__pycache__
messenger/__pycache__
messenger/migrations/__pycache__
home/templatetags/__pycache__
home/management/__pycache__
home/management/commands/__pycache__
forum/templatetags/__pycache__
blog/templatetags/__pycache__
messenger/templatetags/__pycache__
todolist/templatetags/__pycache__
libphoto/templatetags/__pycache__
data.dt
index.css
style.css
styles.css
run.sh
pip-freeze.sh