<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div id="parat_photo" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
  	{% for p in list_photo_par %}
    <button type="button" data-bs-target="#parat_photo" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for i in list_photo_par  %}
    	<div class="carousel-item">
    		<img class="{{i.image.url}}" class="d-block w-100" />
    		<div class="carousel-caption d-none d-md-block">
    			<h1>{{i.titre}}</h1>
    			<p>{{i.comment}}</p>
    		</div>
    	</div>
    {% empty %}
    	pas de photos partageé
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#parat_photo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#parat_photo" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
