{% extends './messenger.html' %}

{% block content %}
{% if send %}

<div class="alert alert-success alert-dismissible fade show" role="alert" id="message">
   <h5 class="alert-heading">message envoyé</h5>
   <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="button_close">
      <span aria-hidden="true">×</span>
   </button>
</div>
<script type="text/javascript">
    var n = document.getElementById('button_close')
    var q = document.getElementById('message')

    n.addEventListener('click', event => {
        q.style.visibility = 'hidden'
    })
</script>
{% endif %}
<div style="text-align: center;">
    <h1>Ecrire un message</h1>
    <form action="{% url 'write' %}" method="post">
        {{forms.as_p}}
        <input type="submit"/>
        
    </form>
</div>
{% if send %}


{% endif %}
<a href="http://127.0.0.1:8000/home/">home</a>
{% endblock %}