
{% load static %}
{% load utills_ %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Blog</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/blog/css/blog.css' %}"/>

</head>
<body>
    <nav class="navbar navbar-expand bg-dark">
        
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

            <a class="navbar-brand" href="http://127.0.0.1:8000/home/">home</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/blog/">blog</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/forum/">forum</a>
            {% if not err %}
            <a class="navbar-brand" href="http://127.0.0.1:8000/messenger/">messenger</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/home/profil/e7cWxFV/">profil</a>
            {% endif %}
        </div>
        {% if not err %}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item"><img src="{{obj.img_profil.url}}" height="75" width="75"></li>
                <li class="nav-item"><a href="http://127.0.0.1:8000/home/profil/{{idname}}" class="nav-link">{{user}}</a></li>
        </div>
        {% endif %}
    </nav>
    <div class="jumbotron">
        <h2>Bienvenue dans l'Application Blog</h2>
    </div>
    {% if err%} 
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert1">
            <h2>INFO: il faut se connecter pour créer des blog </h2>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="button_close1">
                <span aria-hidden="true">&times;</span>
            </button>
            <script type="text/javascript">
                n = document.getElementById('button_close1')
                q = document.getElementById('alert1')
                n.addEventListener('click', event => {
                    q.style.visibility = "hidden"
                })
            </script>
        </div>
    {% else %} 
    {# <iframe src="{% url 'create_blog'%}" allow="{% url 'home'"></iframe> #}
    {% _load_html 'create_blog'  as n %}
    {{n|safe}}
    {% endif %}

    
    <!--<p>{{mess.0}} {{mess.1}}</p> -->
    <p>les Blog : <br/> </p>
    <div class="container">
    {% for a in range1 %}
    <div class="card">
        
        <div class="card-body">
            
        
            <div class="card-title"><h2 style="text-align: center;">{{a.name}}</h2></div>
            <div class="card-subtitle mb-2 text-muted"><h3  style="text-align: center;">{{a.author}} at {{a.date}} :</h3></div>
            
            <div class="card-text"> <h2>{{a.body}}</h2></div>

        </div>
        <ul class="list-group list-group-flush">
            {% for b in range2 %}
                {% if b.blog == a %}
                    <li class="list-group-item">{{b.author}} at {{b.date}} : {{b.body}}</p></li>
                {% endif %}
            {% empty %}
            pas de commentaire
            {% endfor %}
        </ul>

    </div>
    {% endfor %}
    </div>
    
    {% if err %} 
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert2">
            <h2>INFO: il faut se connecter pour créer des blog </h2>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="button_close2">
                <span aria-hidden="true">&times;</span>
            </button>
            <script type="text/javascript">
                l = document.getElementById('button_close2')
                m = document.getElementById('alert2')
                l.addEventListener('click', event => {
                    m.style.visibility = "hidden"
                })
            </script>
        </div>
    {% else %} 
    {% _load_html 'write_mess'  as n %}
    {{n|safe}}
    {% endif %} 
    <a href="http://127.0.0.1:8000/home/">home</a>
    <!--<style>
        .blog
        {
            text-align: center;
        }
    </style>-->

</body>
</html>