<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    </head>
    <body>
        {% block MyDiv %}
        <div id="first">
            <form action="{% url 'create_blog' %}" method="post">
                {% csrf_token %}
                {{formblog.as_p}}
                <input type="submit" value="envoyer"/>
    
            </form>
            
    
    
    
    
        </div>
        {% endblock %}
    </body>
</html>