{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="{% static 'home/pyforum_logo.png' %}" />
    <link rel="stylesheet" href="{% static '/blog/css/blog.css' %}"/>
    </head>
    <body>
        {% block MyDiv %}
        <div id="first">
            <form action="{% url 'create_blog' %}" method="post">
                {% csrf_token %}
                {{formblog.as_p}}
                <input type="submit" value="envoyer"/>
    
            </form>
            
    
    
    
    
        </div>
        {% endblock %}
    </body>
</html>