{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        {% block DIV %}
        <div>

            <form action="{% url 'write_mess' %}" method="post" style="text-align: center;">
                {% csrf_token %}
                {{formblogforum.as_p}}
                <input type="submit" value="envoyer"/>
            </form>
        </div>
        {% endblock %}                                                                             
        
    </body>
</html>