
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        {% block DIV %}
        <div>

            <form action="{% url 'write_mess' %}" method="post" style="text-align: center;">
                {% csrf_token %}
                {{formblogforum.as_p}}
                <input type="submit" value="envoyer"/>
            </form>
        </div>
        {% endblock %}                                                                             
        
    </body>
</html>